/*Header*/
  /* Header */
  header {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
  }

  header img {
    width: 100px;
    height: 100px;
    margin-right: 100px;
  }

  form {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  form li {
    display: inline-block;
    margin-right: 575px;
    margin-left: 0px;
  }


    /* Styling für das Texteingabefeld */
  input[type="text"] {
    padding: 8px; /* Padding innerhalb des Textfelds */
    font-size: 16px; /* Schriftgröße innerhalb des Textfelds */
    border: none; /* Keine Grenze um das Textfeld */
    border-bottom: 2px solid #ccc; /* Unterstreichung unterhalb des Textfelds */
  }

	/* Styling für den Submit-Button */
  button[type="submit"] {
    background-color: #4CAF50; /* Hintergrundfarbe des Submit-Buttons */
    color: white; /* Schriftfarbe des Submit-Buttons */
    padding: 8px 16px; /* Padding innerhalb des Submit-Buttons */
    border: none; /* Keine Grenze um den Submit-Button */
    border-radius: 4px; /* Runde Ecken des Submit-Buttons */
    cursor: pointer; /* Zeiger ändert sich beim Überfahren des Buttons */
  }

    /* Styling für den Submit-Button, wenn der Mauszeiger über dem Button ist */
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  nav ul {
    list-style: none;
    margin-left: 310px;
    margin-bottom: 0px;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 60px;
  }
  
  nav a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #e4920f;
  }

  nav b {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 100px;
  }
  


/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    font-weight: bold;
  }
  
  table td img {
    max-width: 80px;
    margin-right: 10px;
  }
  
  table td input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  table td button {
    background-color: #e4920f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .total p {
    font-size: 20px;
    margin: 0;
  }
  
  .total span {
    font-size: 24px;
    font-weight: bold;
  }
  
  button {
    background-color: #e4920f;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #e4920f;
  }
  
  