* {
    font-family: "Comic Sans MS", "Comic Sans";
}
html{
    max-height: 100%;
}

header {
    align-items: center;
    min-width: 100%;
    min-height: 3.5rem;
}
#hr {
    margin-top: -1rem;
  }
body{
    font-size: large;
    font-weight: bold;
    min-height: 97vh;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem
}
#value {
    margin-left: 0.5rem;
}
#dropdown {
    margin-left: 0.5rem;
}
#enter {
    margin-left: 0.5rem;
}

#Test {
    margin-left: 0.5rem;
}
#nameIn {
    margin-left: 0.5rem;
}
#sizeIn {
    margin-left: 0.5rem;
}
#Del {
    margin-left: 0.5rem;
}
#content {
    display: flex;
    flex-direction: row;
    height: 80vh;
}
#output{
    font-size: 22px;
    border-collapse: separate;
    border-spacing: 1.5vh;
    overflow-y: auto;
    display: block;
    height: 100%;
    max-width: 70%;
}
#doof {
    width: 50vw;

}

@media only screen and (max-width: 1000px) {
    body {
        flex-direction: row;
        position: absolute;
        z-index: 0;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    #Test {
        margin-right: 100px;
        margin-top: 0.5rem;
    }
    #nameIn {
        margin-right: 500px;
        margin-top: 0.5rem;
    }
    #sizeIn {
        margin-right: 500px;
        margin-top: 0.5rem;
    }
    #Del {
        margin-right: 500px;
        margin-top: 0.5rem;
    }
    #doof {
        position: absolute;
        z-index: -1;
    }
}
